*{
    box-sizing: border-box;
}
body{
    font-family: Arial, tahoma, sans-serif;
}
.quiz-app{
    margin: 20px auto;
    padding: 15px;
    width: 800px;
    background-color: #f8f8f8;
}
.quiz-app .quiz-info{
    display: flex;
    background-color: #fff;
    padding: 20px;
}
.quiz-app .quiz-info .category {
flex: 1;

}
.quiz-app .quiz-info .count{
flex: 1;
text-align: right;
}
.quiz-app .quiz-area{
    padding: 20px;
    background-color: #fff;
    margin-top: 10px;
}
.quiz-app .quiz-area h2{
    margin: 0;
}
.quiz-app .answers-area{
    padding: 0 20px 20px;
    background-color: #fff;
}
.quiz-app .answers-area .answer{
    padding: 15px;
    background-color: #f9f9f9;
}
.quiz-app .answers-area .answer:not(:last-child){
    border-bottom: 2px solid #dfdfdf;
}
.quiz-app .answers-area .answer input[type="Radio"]:checked + label{
    color: #0075ff;
}
.quiz-app .answers-area .answer label{
    font-weight: bold;
    font-size: 14px;
    color: #777;
    cursor: pointer;
    margin-left: 5px;
}
.quiz-app .submit{
    background-color: #0075ff;
    font-weight: bold;
    font-size: 18;
    display: block;
    width: 90%;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
margin: 20px auto;
}
.quiz-app .submit:focus{
    outline: none;
}
.quiz-app .bullets{
    border-top: 1px solid #dfdfdf;
    background-color: #fff;
    display: flex;
    padding: 20px;

}
.quiz-app .bullets .spans{
    display: flex;
    flex: 1;
}
.quiz-app .bullets .spans span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 5px;
}
.quiz-app .bullets .spans span.on{
    background-color: #0075ff;
}
.quiz-app .results span{
    font-weight: bold;
}
.quiz-app .results span.bad{
    color: red;
}
.quiz-app .results span.good{
    color: orange;
}
.quiz-app .results span.perfect{
    color: green;
}